
<html lang="en">

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        
        <title>Document</title>
       
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"
    integrity="sha256-chlNFSVx3TdcQ2Xlw7SvnbLAavAQLO0Y/LBiWX04viY=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha256-YLGeXaapI0/5IgZopewRJcFXomhRMlYYjugPLSyNjTY=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha256-CjSoeELFOcH0/uxWu6mC/Vlrc1AARqbm/jiiImDGV3s=" crossorigin="anonymous"></script>
    <script>
            function Binding() {
                        new Vue(
                            {
                                el: '#block1',
                                data:{AnountwithoutTax:0},
                                computed:{
                                   AnountwithTax:{
                                       get:function(){
                                           return this.AnountwithoutTax*1.05;

                                       },
                                       set:function(val){
                                           this.AnountwithoutTax = 
                                           val/1.05;
                                       }
                                   }
                                }
                            }
                        );
                    }
            $(document).ready(function () {
                  Binding();
             });
    
    </script>
    <body>
        <div id="block1" class="row" style="margin: 10px">
            <label>未稅價格:</label> <br>
            <input  type="text"  v-model="AnountwithoutTax" /><br>
            <label>含稅價格:</label><br>
            <input  type="text"  v-model="AnountwithTax" /><br>
           
        </div>
    </body>
    
    </html>